@import "tailwindcss";

body {
  font-family: 'sans-serif', 
}

.font-especifico {
  font-family: 'Poppins';
  font-weight: 700; 
  font-style: normal; 
}

.font-especifico-ligth {
  font-family: 'Poppins';
  font-weight: 400; 
  font-style: normal; 
}

.font-especifico2 {
  font-family: 'Poppins';
  font-weight: 500; 
  font-style: normal;
}

.text-lila {
  color: #6C63FF;
  border-color: #6C63FF;
}

.text-azulOscuro {
  color: #1F2D52;
}

.btn-azulOscuro {
  background-color: #1F2D52;
  color: white;
}

.input-buscar {
  border-color: #E2E8F0; 
  color: #7d8591;        
  background-color: #F8FAFC; 
}

.input-buscar:focus {
  border-color: #6C63FF;  
  box-shadow: 0 0 0 2px rgba(108, 99, 255, 0.3); 
}

.bg-submenu { 
  background-color: #F8FAFC; 
}

.focus-lila:focus {
  border-color: #6C63FF; /* mismo que .text-lila */
  outline: none;
  box-shadow: 0 0 0 2px rgba(108, 99, 255, 0.3);
}

.button-focus:focus {
  outline: 2px solid #6C63FF;
  outline-offset: 2px;
}

button {
  cursor: pointer;
}

.btn-lila:enabled {
  background-color: #6C63FF; /* color lila */
  color: white;
}

.btn-lila:focus {
  outline: 2px solid #6C63FF;
  outline-offset: 2px;
}

.btn-lila:hover:enabled {
  background-color: #5a54d6; 
}


